<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My Collection
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque, error ex laudantium nam placeat possimus provident reprehenderit totam ullam! Eligendi eum expedita possimus quae quidem repellendus rerum veritatis vitae!</span><span>Alias animi assumenda aut cum debitis dolore doloremque eius esse est et exercitationem, fugit id ipsum magni minus mollitia nam nesciunt numquam provident quisquam rerum sapiente similique soluta, sunt unde.</span></p>
    <img src="{% static 'assets/car.jpeg' %}" alt="">
    <img src="{% static 'assets/benz.jpeg' %}" alt="">
    <img src="{% static 'assets/office1.jpg' %}" alt="">
    <img src="{% static 'assets/office2.jpg' %}" alt="">
    <img src="{% static 'assets/car3.jpg' %}" alt="">

</body>
</html>