<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
<h1>MY GALLERY</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur cumque dolore dolorem ea facere, iure laudantium magni nam nemo quia ratione repellat repudiandae saepe tempora ullam unde ut voluptates.</span><span>A ad dolorem doloremque, dolores fugit inventore nisi officiis quos recusandae sint! Deleniti incidunt maiores minus temporibus voluptas? Expedita itaque nulla optio, quod quos sed tenetur velit veniam vitae voluptate!</span></p>
</body>
</html>